/* 헤더 설정 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80px;
    font-weight: bold;
    color: #ffce08;
    text-align: center;
    background-color: #3f7853;
    padding: 10px 20px;
}

.xi-bars {
    font-size: 100px;
    margin-left: 2%;
    cursor: pointer;
}

.xi-home-o {
    font-size: 100px;
    margin-right: 2%;
    cursor: pointer;
}

/* 푸터 설정 */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #ECE3CE;
    text-align: center;
    font-weight: bold;
    background-color: #3f7853;
    padding: 10px;
    box-sizing: border-box;
}

/* 레시피 그리드 */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.recipe-item {
    border: 1px solid #ECE3CE;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: #ECE3CE;
    color: #3f7853;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recipe-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-item img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
}

.recipe-item h3 {
    color: #3f7853;
    margin: 10px 0 0;
}

/* 모바일용 스타일 */
@media (max-width: 600px) {
    header {
        font-size: 35px;
    }

    .xi-bars {
        font-size: 55px;
    }

    .xi-home-o {
        font-size: 55px;
    }

    .recipe-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .recipe-item {
        padding: 15px;
    }

    footer {
        font-size: 8px;
    }
}
