body{
    background-color: #3f7853;
    font-family: 'Inknut Antiqua', serif;
}

#content-section {
    text-align: center;
    padding: 5px;
}

#content-section h1 {
    color: #F7B200;
    margin-bottom: 20px;
    font-size: 40px;
}
.section2 {
    display: flex;
    justify-content: center;
}
.next {
    margin: 1.5%;
}
/*f링크 설정 */
a {
    text-decoration: none;
    font-size: 40px;
}
a:link {
    color: #ECE3CE;
    
}
a:visited {
    color: #ffce08;
}
.button-container {
    display: flex;
    flex-wrap: wrap; /* 버튼을 다음 줄로 넘길 수 있도록 설정 */
    justify-content: center; /* 버튼 가운데 정렬 */
    gap: 15px; /* 버튼 사이 간격 */
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-container button {
    background-color: #ECE3CE;
    color: #3A4D39;
    border: none;
    border-radius: 40px;
    font-size: 40px; /* 폰트 크기 */
    font-weight: bold;
    height: 300px;
    width: 30%;
    text-align: center;
}

/* 모바일 반응형 */
@media (max-width: 600px) {
    #content-section h1 {
        font-size: 20px;
    }

    .button-container button {
        height: 200px;
        width: 45%;
        font-size: 20px;
    }
    a {
        font-size: 20px;
    }
}
